/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Ajuste do corpo para ocupar toda a tela */
body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Estilizando o Mapa para ocupar toda a tela */
#map {
    width: 100vw;
    height: 100vh;
}
