/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Corpo da página */
body {
    background-color: #f4f4f4;
    text-align: center;
    height: 100%;  /* Garantir que o corpo ocupe 100% da altura */
}

/* Cabeçalho estilizado */
header {
    background: #026f7c;
    color: white;
    padding: 15px;
    font-size: 1.5em;
    position: fixed; /* Fixo no topo */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Estilizando o Mapa */
#map {
    width: 100%;
    height: 100vh; /* Garantir que o mapa ocupe toda a altura da tela */
    border: 3px solid #026f7c;
    margin-top: 70px; /* Adiciona margem para o cabeçalho fixo */
}

/* Rodapé estilizado */
footer {
    background: #026f7c;
    color: white;
    padding: 10px;
    font-size: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    header {
        font-size: 1.2em;
    }

    #map {
        height: 75vh;
    }

    footer {
        font-size: 0.9em;
    }
}
